/* content */

@import url(http://fonts.googleapis.com/css?family=Open+Sans);

#amazingcarousel-1 .amazingcarousel-image {	
	position: relative;
	padding: 0px;
	width: 40%;
	float: left;
}

#amazingcarousel-1 .amazingcarousel-image img {
	display: block;
	width: 100%;
	max-width: 100%;
	border: 0;
	margin: 0;
	padding: 0;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
}

#amazingcarousel-1 .amazingcarousel-text {
	width: 60%;
	float: left;
}

#amazingcarousel-1 .amazingcarousel-title {
	position:relative;
	font: bold 12px 'Open Sans', sans-serif;
	color:#333333;
	margin:6px;
	text-align:left;
	line-height: 16px;
	height: 16px;
	overflow: hidden;
}

#amazingcarousel-1 .amazingcarousel-description {
	position:relative;
	font: 12px 'Open Sans', sans-serif;
	color:#333333;
	margin:6px;
	text-align:left;
	line-height: 15px;		
	height: 30px;
	overflow: hidden;
}

/* carousel */

#amazingcarousel-container-1 {
	padding: 48px 0px; 
}

#amazingcarousel-1 .amazingcarousel-list-container { 
	padding: 0;
}

/* item */

#amazingcarousel-1 .amazingcarousel-item-container {
	text-align: center;
	padding: 4px;
	background-color: #fff;
	border: 1px solid #ddd;
	-moz-box-shadow: 0px 0px 5px 1px rgba(96, 96, 96, 0.1);
	-webkit-box-shadow: 0px 0px 5px 1px rgba(96, 96, 96, 0.1);
	box-shadow: 0px 0px 5px 1px rgba(96, 96, 96, 0.1);
}

/* arrows */

#amazingcarousel-1 .amazingcarousel-prev {
	right: 0%;
	top: 100%;
	margin-right: 32px;
	margin-top: 8px;
}

#amazingcarousel-1 .amazingcarousel-next {
	right: 0%;
	top: 100%;
	margin-right: 0px;
	margin-top: 8px;
}

/* navigation bullets */

#amazingcarousel-1 .amazingcarousel-nav {
	position: absolute;
	top: 100%;
	right: 0%;
	margin-right: 64px;
	margin-top: 14px;
}

#amazingcarousel-1 .amazingcarousel-bullet-wrapper {
	margin: 0;
}

